.followers {
    font-family: 'Montserrat', sans-serif;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 100;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    font-size: 18px;
}
p {
    margin-bottom: 0;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 100;
}
.sombra {
    border-radius: 10px;
    border: #e2e2e2 solid 1px;
}
.btn {
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    background-color: #00b2b2;
    font-size: 12px;
    gap: 5px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
a:active{
    text-decoration: none;
    color: white;
}
