<app-navbar></app-navbar>
<div class="profile">
    <div
        style="background-image: url({{user.url_header}}); background-size: cover; background-position: center; color: white;">
        <div class="center" style="padding-top: 45px;">
            <img src="{{user.url_pfp}}" alt="Foto de perfíl" width="200px" style="border-radius: 100%; height: 200px;">
        </div>
        <div class="center" style="margin: 15px;">
            <h1>{{user.preferred_username}}</h1>
        </div>
        <div class="center" style="padding-bottom: 45px;">
            <div>
                <h4 class="center">{{cantStories}}</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Obras&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
            <div>
                <h4 class="center">{{libraryStories}}</h4>
                <p>Biblioteca</p>
            </div>
            <div>
                <a href="{{user.preferred_username}}/followers">
                    <h4 class="center">{{following}}</h4>
                    <p>Seguidores</p>
                </a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light espacio" style="padding: 0; padding-top: 8px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="padding-right: 60px;" href="{{user.preferred_username}}/profile">Acerca
                        de<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="padding-right: 60px;"
                        href="{{user.preferred_username}}/announcement">Anuncios</a>
                    <hr style="border-width: 2.5px; background-color: #c7bad8;">
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-right: 60px;"
                        href="{{user.preferred_username}}/following">Siguiendo</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="espacio">
    <div class="espacio" style="margin: 25px 25%;">
        <div class="sombra" style="margin-top: 25px;" *ngFor="let announcement of announcements">
            <div class="pfp-announcement" style="font-size: 14px; padding-bottom: 5px;">
                <img src="{{user.url_pfp}}" alt="Foto de perfíl" width="40px"
                    style="border-radius: 100%; height: 40px;">
                <div class="annuncio-info">
                    <h2 style="font-size: 16px; font-weight: bold; margin-bottom: 4px;">{{user.preferred_username}}</h2>
                    <h3 style="font-size: 14px;">{{obtenerFormatoFecha(announcement.date)}}</h3>
                </div>
            </div>
            <div class="annuncio-description" style="font-size: 14px; margin: 0 25px;">{{announcement.description}}
            </div>
            <br>
        </div>
    </div>
    <div style="position: fixed; bottom: 10px; right: 10px;">
        <h4 style="font-size: 15px;">@StoryVerse</h4>
    </div>
</div>