* {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 28px;
    margin: 1px 1px 6px 3px;
}
h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 15% 25px 15%;
}
.logo {
    padding: 0px 4px;
    border-radius: 100%;
    background-color: #c7bad8;
    margin-left: 15px;
}
.buttons {
    height: 74px;
    padding: 0 24px;
}
.boton {
    outline: none;
    border: 0 !important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    padding: 4px 20px;
    margin-left: 15px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario {
    margin: 0 15%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.imageBookCover {
    margin-left: 10px;
    font-size: 12px;
    border-radius: 100%;
    outline: none;
    border: 1px solid #c7bad8;
    padding: 6px;
}
input, select, textarea {
    outline: none;
    width: 100%;
    border: 1px solid #c7bad8;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
}
label {
    margin-bottom: 5px;
}