<div class="buttons" style="display: flex; justify-content: space-between;">
    <div class="center">
        <h2 style="color: #c7bad8;">storyverse</h2>
        <div class="logo">
            <h2 style="color: white;">
                sv.
            </h2>
        </div>
    </div>
    <div class="center">
        <button class="btn btn-success" style="margin: 10px;" (click)="save()">Guardar cambios</button>
        <button class="btn btn-danger" style="margin: 10px;" [routerLink]="['/profile']">Cancelar</button>
    </div>
</div>
<div class="profile">
    <div style="background-image: url({{url_header}}); background-size: cover; background-position: center; color: white;">
        <button class="image-header" (click)="imgHeader.click()">
            <i class="fa-solid fa-camera" style="font-size: 15px; color: #635d6c;"></i>
            &nbsp;Cambiar imagen de fondo
        </button>
        <input type="file" accept="image/*" #imgHeader style="display:none" (change)="onFileSelectedHeader($event)">
        <div class="center" style="align-items: start;">
            <img src="{{url_pfp}}" alt="Foto de perfíl" width="200px" style="border-radius: 100%; height: 200px;">
            <button class="image-pfp center" (click)="imgProfile.click()">
                <i class="fa-solid fa-camera" style="font-size: 20px; color: #635d6c;"></i>
            </button>
            <input type="file" accept="image/*" #imgProfile style="display:none" (change)="onFileSelectedPfp($event)">
        </div>
        <div class="center" style="margin: 15px;">
            <h1>{{preferred_username}}</h1>
        </div>
        <div class="center" style="padding-bottom: 40px;">
            <div>
                <h4 class="center">2</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Obras&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
            <div>
                <h4 class="center">6</h4>
                <p>Biblioteca</p>
            </div>
            <div>
                <h4 class="center">15</h4>
                <p>Seguidores</p>
            </div>
        </div>
    </div>
    <hr class="espacio">
    <div class="description">
        <p style="padding: 0;">Descripción:</p>
        <textarea class="sombra" rows="7" maxlength="400" placeholder="Agrega una descripción de ti mismo" [(ngModel)]="description"></textarea>
    </div>
    <div style="display: flex; justify-content: end; padding-bottom: 25px; padding-right: 25px;">
        <h4 style="font-size: 15px;">@StoryVerse</h4>
    </div>
</div>