<app-navbarinvited></app-navbarinvited>

<div class="main">
<div class="row">
    <div style=" margin-top: 100px;">
        <h2 class="titulo">Hola, somos </h2>
        <h2 class="titulo">StoryVerse</h2>
        <div style ="margin-top: 30px;" >
            <div>
                <p class="description"> Una plataforma que trata de romper 
                la barrera que hay entre escritores y lectores.</p>
            </div>
        </div>
        <div id="kc-form-buttons" class="">
            <div class="login100-form-bgbtn"></div>
            <input type="hidden" id="id-hidden-input" name="credentialId">
            <input tabindex="4" class="kcButtonClass" name="login" id="kc-login" type="button"
                value="Ingresa ahora!" (click)="login()" >
        </div>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="../../../assets/home.png" alt="" width="100%" style="height: 450px;">
        </div>
    </div>
</div>

<hr width="80%">
<div id="title-historia">
    <h2>Ver tu historia... </h2>
    
</div>
<div class="row description-boxes">
    <div class="box">
        <img src="../../../assets/profile/video.png" alt="" width="100%" style="height: 80px; width: 80px">
        <p class="description-box">
            Consigue que tu historia se produzca como una película
        </p>
    </div>
    <div class="box">
        <img src="../../../assets/profile/series.png" alt="" width="100%" style="height: 80px; width: 80px">
        <p class="description-box">
            Consigue que tu historia se adapte a una serie de televisión
        </p>
    </div>
    <div  class="box">
        <img src="../../../assets/profile/libro.png" alt="" width="100%" style="height: 80px; width: 80px">
        <p class="description-box">
            Conviértete en un autor publicando tus historias
        </p>
    </div>

</div>
</div>